.back-to-top {
  position: fixed;
  bottom: 80px;
  right: 20px;
  font-size: 40px;
  background: #000;
  color: white;
  cursor: pointer;
  border-radius: 100px;
  padding: 5px;
  border: none;
  box-shadow: 0 5px 10px #ccc;
  z-index: 1000;
}

.back-to-top:hover {
  background: #ccc;
  color: #000;
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  .back-to-top {
    bottom: 60px;
    right: 15px;
    font-size: 30px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
  .back-to-top {
    bottom: 40px;
    right: 10px;
    font-size: 20px;
  }
}
