.back-to-top {
    position: fixed;
    bottom: 80px;
    right: 20px;
    font-size: 50px;
    background: #000;
    color: white;
    cursor: pointer;
    border-radius: 100px;
    border: none;
    box-shadow: 0 5px 10px #ccc;
  }
  
  .back-to-top:hover {
    background: #ccc;
    color: #000;
  }